src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
		<batch:job jobName="syncUsersBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
			<batch:process-records>
				<batch:step name="checkUsersInDatabaseStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<db:select config-ref="Database_Config"
						doc:name="Query User by matching email from Database" doc:id="c93a20b0-4e0d-44ec-8c0f-831d31beea8b"
						queryTimeoutUnit="NANOSECONDS" target="recordExists" targetValue="#[payload[0]]">
						<db:sql>select firstname, lastname, id, email, salesforce_id from
							User where email = :email
						</db:sql>
						<db:input-parameters><![CDATA[#[{'email' : payload.Email}]]]></db:input-parameters>
					</db:select>
				</batch:step>
				<batch:step name="insertUsersToDatabaseStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb"
					acceptExpression="vars.recordExists == null">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<db:bulk-insert config-ref="Database_Config"
							doc:name="Insert User into database" doc:id="f3626d1b-8b19-460e-83f8-1567930ecee8">
							<db:sql>INSERT INTO User(firstname, lastname, salesforce_id,
								email)
								VALUES (:FirstName, :LastName, :Id, :Email)
							</db:sql>
						</db:bulk-insert>

					</batch:aggregator>
				</batch:step>
				<batch:step name="updateUsersInDatabaseStep" doc:id="640c7d16-2443-48de-a7a0-084895350e5e"
					acceptExpression="vars.recordExists != null">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="ce71424b-dcd0-4d42-a141-df297df436b7" size="${page.size}">
						<db:bulk-update config-ref="Database_Config"
							doc:name="Update account in database" doc:id="5efd3956-44fa-4781-983f-e88dea393a2e">
							<db:sql>UPDATE User SET
								firstname = :FirstName,
								lastname =
								:LastName,
								salesforce_id = :Id
								WHERE email = :Email
							</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>

			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result"
					doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!"
					doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
